
/* GENERAL */
body{
    background-color: rgb(231, 122, 0);
}

label{
    display: block;
}

/* UTILS */
.container{
    background-color: wheat;
}



.col{
    min-height: 10rem;
    padding: 1rem;
    margin: 0.5rem 0.5rem;
}